.sidebar{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-item{
  text-align: center;
  margin: 1rem;
}
