<div class="container">
  <div class="table-container">
    <p-table [value]="usuarios" [paginator]="true" [rows]="10" [tableStyle]="{'min-width': '80vw'}">
      <ng-template pTemplate="caption">
        <div class="table-caption">
          Usuários
          <p-button (click)="adicionar()">
            Adicionar
            <i class="pi pi-plus" style="margin-left: 1rem; font-weight: bold"></i>
          </p-button>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nome" style="width: 20%; text-align: center">
            Nome <p-sortIcon field="nome" />
          </th>
          <th pSortableColumn="dataNascimento" style="width: 15%; text-align: center">
            Data de Nascimento<p-sortIcon field="dataNascimento" />
          </th>
          <th pSortableColumn="sexo" style="width: 7%; text-align: center">
            Sexo <p-sortIcon field="sexo" />
          </th>
          <th pSortableColumn="logradouro" style="width: 10%; text-align: center">
            Logradouro <p-sortIcon field="logradouro" />
          </th>
          <th pSortableColumn="numero" style="width: 7%; text-align: center">
            Numero <p-sortIcon field="numero" />
          </th>
          <th pSortableColumn="setor" style="width: 15%; text-align: center">
            Setor <p-sortIcon field="setor" />
          </th>
          <th pSortableColumn="cidade" style="width: 10%; text-align: center">
            Cidade <p-sortIcon field="cidade" />
          </th>
          <th pSortableColumn="uf" style="width: 5%; text-align: center">
            UF <p-sortIcon field="uf" />
          </th>
          <th style="width: 15%; text-align: center">
            Ações
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-usuario>
        <tr>
          <td style="text-align: center">{{usuario.nome}}</td>
          <td style="text-align: center">{{usuario.dataNascimento | date: 'dd/MM/yyyy'}}</td>
          <td style="text-align: center">{{usuario.sexo}}</td>
          <td style="text-align: center">{{usuario.logradouro}}</td>
          <td style="text-align: center">{{usuario.numero}}</td>
          <td style="text-align: center">{{usuario.setor}}</td>
          <td style="text-align: center">{{usuario.cidade}}</td>
          <td style="text-align: center">{{usuario.uf}}</td>
          <td style="text-align: center">
            <p-button pTooltip="Editar" tooltipPosition="top" icon="pi pi-pencil" [text]="true" [rounded]="true" (click)="editar(usuario)"></p-button>
            <p-button pTooltip="Excluir" tooltipPosition="top" icon="pi pi-trash" [text]="true" [rounded]="true" (click)="excluir(usuario, $event)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
