<div class="form">
  <form [formGroup]="form">
    <div style="display: flex; flex-direction: column; margin-bottom: 2vh">
      <label>Título</label>
      <input pInputText formControlName="titulo" [style]="{'width': '15vw'}" />
    </div>

    <div style="display: flex; flex-direction: column; margin-bottom: 2vh">
      <label>Descrição</label>
      <textarea pInputTextarea formControlName="descricao"  rows="2" cols="30" ></textarea>
    </div>

    <div style="display: flex; flex-direction: column; margin-bottom: 2vh">
      <label>Periodicidade</label>
      <p-dropdown [options]="periodiciade" formControlName="periodicidade" placeholder="Selecione a periodicidade" [style]="{'width': '15vw'}" />
    </div>

    <div style="display: flex; flex-direction: row; margin-bottom: 5vh; justify-content: space-between">
      <div style="display: flex; flex-direction: column;">
        <label>Doses</label>
        <p-inputNumber formControlName="doses" [inputStyle]="{'width': '6vw'}" [style]="{'width': '6vw'}" />
      </div>

      <div style="display: flex; flex-direction: column;">
        <label>Intervalo</label>
        <p-inputNumber formControlName="intervalo" [inputStyle]="{'width': '6vw'}" [style]="{'width': '6vw'}" />
      </div>
    </div>

    <p-button [style]="{'width': '15vw', 'display':'flex', 'justify-content':'center'}" (click)="cadastrarVacina()">
      <span>{{config.data ? 'Salvar':'Cadastrar'}}</span>
    </p-button>
  </form>
</div>



