.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formrow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
}
