.login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fields{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 15vw;
}
